h1 {
    background-color: rgb(255, 166, 158);
    font-size: 37px;
    font-family: "Montserrat Subrayada", sans-serif;
    margin-bottom: 35px;
    padding-left: 10px;
    line-height: 50px;
}

h2 {
    font-size: 26px;
    line-height: 50px;
    letter-spacing: -0.5px;
    text-align: center;
    background-color: rgb(255, 166, 158);
    margin-bottom: 35px;
}

h3 {
    margin-top: 12px;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: -0.5px;
    text-align: center;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(254, 240, 239);
    color: rgb(70, 18, 32);
}

p {
    line-height: 25px;
}

.descricao {
    color: rgb(140, 47, 57);
    max-width: 90%;
    line-height: 30px;
    padding-top: 25px;
    padding-left: 35px;
    padding-bottom: 15px;
    margin-top: 50px;
}

.habilidades-classe {
    color: rgb(140, 47, 57);
    max-width: 90%;
    line-height: 30px;
}

.list-links {
    color: rgb(140, 47, 57);
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 35px;
}

.foto { 
    border-radius: 150px;
    float: left;
    margin-right: 25px;
    margin-bottom: 35px;
    padding: 5px;
    background-color: rgb(255, 166, 158);
}

.li-pares {
    list-style-type: square;
}

.button {
    border-radius: 4px;
    background-color: rgb(255, 166, 158);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 45px;
    color: rgb(140, 47, 57);
    font-weight: 600;
    text-decoration: none;
}
